label{

	background: white;
	font-style: oblique;
	font-size: 40pt;
	display: block;
	text-align: center;
	line-height: 150%;
	font-style: bold;
}

#fondo {
	background: blue;
	text-align: justify;
	line-height: 150%;
	margin-right: 10%;
	margin-left: 10%;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}